/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$grey-color-dark};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$dark-purple-color};
  --global-hover-color: #{$purple-color};
  --global-emph-color: #{$dark-purple-color};
  --global-footer-bg-color: #{$white-color};
  --global-footer-text-color: #{$grey-color};
  --global-footer-link-color: #{$grey-color-dark};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #{$grey-color-dark};
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$theme-darkest};
  --global-code-bg-color: #{$theme-dark};
  --global-text-color: #{$theme-lightest};
  --global-text-color-light: lighten($theme-lightest, -50%);
  --global-theme-color: #{$theme-light};
  --global-hover-color: #{$theme-dark};
  --global-emph-color: #{$theme-light};
  --global-footer-bg-color: #{$theme-darkest};
  --global-footer-text-color: #{$grey-color};
  --global-footer-link-color: #{$theme-lightest};
  --global-distill-app-color: #{$theme-lightest};
  --global-divider-color: #{$theme-lightest};
  --global-card-bg-color: #{$theme-darkest};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
